name: Waka Readme

on:
  schedule:
    # Runs at 12am IST
    - cron: '30 18 * * *'
  workflow_dispatch:
jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          DEBUG_LOGGING: "True"
          COMMIT_BY_ME: "True"
          COMMIT_EMAIL: "bernardo.lou@gmail.com"
          COMMIT_USERNAME: "bernardolm"
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          # IGNORED_REPOS: "foo, bar"
          # LOCALE: pt_BR
          SHOW_COMMIT: "True"
          SHOW_DAYS_OF_WEEK: "True"
          SHOW_EDITORS: "True"
          SHOW_LANGUAGE_PER_REPO: "True"
          SHOW_LANGUAGE: "True"
          SHOW_LINES_OF_CODE: "True"
          SHOW_LOC_CHART: "False"
          SHOW_OS: "True"
          SHOW_PROFILE_VIEWS: "True"
          SHOW_PROJECTS: "True"
          SHOW_SHORT_INFO: "True"
          SHOW_TIMEZONE: "True"
          SHOW_TOTAL_CODE_TIME: "True"
          SHOW_UPDATED_DATE: "True"
          SYMBOL_VERSION: 2
          UPDATED_DATE_FORMAT: "%Y-%m-%d %H:%M:%S"
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
